# Notice the project assumming git config --global core.ignorecase true

# Would like to keep /Logs/ untracked to remove, but since 2020 Unity will keep /Logs/ contents opened and unable to remove
/Logs/
/Temp/
/Library/
/Assets/DebugLogs/
# Added in Unity 2020, shall be ignored according to Aras
# https://forum.unity.com/threads/whats-the-usersettings-directory.754436/#post-5029937
/UserSettings/

# Unity Generated Solution files
/*.sln
/*.csproj

# Visual Studio DB
/.vs/

# ReSharper Personal Config
/*.DotSettings.user

# Visual Studio Code
/.vscode/
/obj/

#Visual Studio 2022
.vsconfig

# MonoDevelop
/*.userprefs

# Windows File Explorer Thumbnail Cache
Thumbs.db
Thumbs.db.meta
# Mac Finder Cache
.DS_Store
.DS_Store.meta
# These should be ignored by default global gitignore, but from time to time we got these from packages or other sources

# Editor save data
Assets/EditorSaveData/*

/.utmp
Assets/.Credentials/

settings.local.json

ProjectSettings/UCL_CoreBootstrap.version
ProjectSettings/UCL_CoreTemplatePush.skipped.json
.compile_status.json

DebugLogs/*

/Build/
